<nav class="navbar navbar-expand-xl navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="Resonance Dance" class="navbar-logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#about">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#directions">Направления</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#teachers">Преподаватели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html#contacts">Контакты</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="educationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Сведения об образовательной организации
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="educationDropdown">
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/osnovnye-svedeniya.html">Основные сведения</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/struktura-i-organy-upravleniya.html">Структура и органы управления образовательной организацией</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/dokumenty.html">Документы</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/obrazovanie.html">Образование</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/rukovodstvo.html">Руководство</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/pedagogicheskiy-sostav.html">Педагогический состав</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/materialno-tehnicheskoe-obespechenie.html">Материально-техническое обеспечение и оснащенность образовательного процесса</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/dostupnaya-sreda.html">Доступная среда</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/platnye-obrazovatelnye-uslugi.html">Платные образовательные услуги</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/finansovo-hozyaystvennaya-deyatelnost.html">Финансово-хозяйственная деятельность</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/vakantnye-mesta.html">Вакантные места для приема (перевода) обучающихся</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/stipendii-i-mery-podderzhki.html">Стипендии и меры поддержки обучающихся</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/mezhdunarodnoe-sotrudnichestvo.html">Международное сотрудничество</a></li>
                        <li><a class="dropdown-item" href="svedeniya-ob-obrazovatelnoy-organizatsii/organizatsiya-pitaniya.html">Организация питания в образовательной организации</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

